body {
    background: #aaa;
    color: #000;
}

#content {
    width: 75%;
    margin: 0 auto;
}

h1 {
    text-align: center;
}

a:link, a:visited {
    color: #00a;
}

a:active {
    color: #f55;
}
